{% extends 'afmake.html' %}

{%block main%}
<section>
    <div class ="row">
      <div class = "col-md-1 section-back-color"></div>
      <div class = "col-md-10">
        <br>
        <br>
        <h1 class = "h-txt-horeca"><b>Академія AutoGura</b></h1>
        <br>
        <br>
        <p class = "txt-horeca">Головне в будь-якій справі – люди. Наші фахівці – гордість і надбання Корпорації. Ми хочемо, щоб наші співробітники росли і розвивалися разом із компанією. Для цього ми створили мережу власних навчальних центрів для своїх фахівців і студентів профільних навчальних закладів України. Кожен із співробітників AutoGura має можливість розвиватися і рости професійно, отримуючи знання та навички від українських і закордонних експертів. Адже професійні знання та розуміння бізнес-процесів дають кожному можливість побудувати кар'єру та бути ефективним і затребуваним, щоб реалізувати свій потенціал в Корпорації AutoGura. Дізнайтесь більше про можливості, які Вам пропонує Академія AutoGura</p>
        <br>
        <br>
        <table border="1" class = "table-color">
            <tr>
              <td class = "td-table-horeca">
                <div class = "container ">
                  <div class = "row">
                    <div class = "col-md-3 ">
                      <img src="{{ url_for('static', filename= 'images/ac-gura-img/im-ac-1.svg')}}" class = "table-img">
                    </div>
                    <div class = "col-md-9">
                      <p class = "table-txt-horeca-ok">Ви хочете стати членом команди обраних професіоналів?</p>
                    </div>
                  </div>
                </div>
              </td>
              <td class = "td-table-horeca">
                <div class = "container ">
                  <div class = "row">
                    <div class = "col-md-3 ">
                      <img src="{{ url_for('static', filename= 'images/ac-gura-img/im-ac-2.svg')}}" class = "table-img">
                    </div>
                    <div class = "col-md-9">
                      <p class = "table-txt-horeca-ok">Хочете, щоб цікава робота дала можливість вчитися за стандартами провідних світових компаній?</p>
                    </div>
                  </div>
                </div>
              </td>
              <td class = "td-table-horeca">
                <div class = "container ">
                  <div class = "row">
                    <div class = "col-md-3 ">
                      <img src="{{ url_for('static', filename= 'images/ac-gura-img/im-ac-3.svg')}}" class = "table-img">
                    </div>
                    <div class = "col-md-9">
                      <p class = "table-txt-horeca-ok">Хочете забезпечувати себе та свою сім'ю, постійно реалізовуючи саме ваші вміння і таланти?</p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class = "td-table-horeca">
                <div class = "container ">
                  <div class = "row">
                    <div class = "col-md-3 ">
                      <img src="{{ url_for('static', filename= 'images/ac-gura-img/im-ac-4.svg')}}" class = "table-img">
                    </div>
                    <div class = "col-md-9">
                      <p class = "table-txt-horeca-ok">Бажаєте постійно розвиватись і підвищувати кваліфікацію?</p>
                    </div>
                  </div>
                </div>
              </td>
              <td class = "td-table-horeca">
                <div class = "container ">
                  <div class = "row">
                    <div class = "col-md-3 ">
                      <img src="{{ url_for('static', filename= 'images/ac-gura-img/im-ac-5.svg')}}" class = "table-img">
                    </div>
                    <div class = "col-md-9">
                      <p class = "table-txt-horeca-ok">Бачите себе в майбутньому керівником дилерського центру Корпорації AutoGura?</p>
                    </div>
                  </div>
                </div>
              </td>
              <td class = "td-table-horeca">
                <div class = "container ">
                  <div class = "row">
                    <div class = "col-md-3 ">
                      <img src="{{ url_for('static', filename= 'images/ac-gura-img/im-ac-6.svg')}}" class = "table-img">
                    </div>
                    <div class = "col-md-9">
                      <p class = "table-txt-horeca-ok">Ви студент профільного навчального закладу і хочете розпочати кар’єру?</p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
        </table>
        <br>
        <br>
        <p class = "txt-horeca">Тоді команда AutoGura чекає саме на вас!</p>
        <br>
        <br>
      </div>
      <div class = "col-md-1 section-back-color"></div>
    </div>
</section>

{%endblock main%}