{% extends 'afmake.html' %}

{% block main %}
<!--<div class = "row">
  <div class="col-md-1"></div>
    <div class="col-md-10">р
      <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>


  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename= 'images/005e7183ff211160d0ff0ef98b71f5b6.webp')}}" alt="Los Angeles" width="1100" height="500"/>
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename= 'images/bc5a10b925e39cc2c0495825912a7b91.webp')}}" alt="Chicago" width="1100" height="500">
    </div>


  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
    </div>
  <div class = "col-md-1"></div>
</div>-->
{% endblock main %}