{% extends 'afmake.html' %}

{%block main%}
<section>
    <div class = "row">
        <div class = "col-md-1 section-back-color"></div>
        <div class = "col-md-10">
            <br>
            <br>
            <h1 class = "h-txt-horeca"><b>Виробництво авто</b></h1>
            <br>
            <br>
            <p class = "txt-horeca">Ми на власному досвіді знаємо, як створити автомобіль з чистого аркуша. Тільки уявіть: спочатку з'являється ідея, вона знаходить форму в ескізах і кресленнях, проходить всі етапи виробництва – штампування, зварювання, збірку і фарбування. Все це схоже на магію, і все це ми робимо для вас!
Запорізький Автомобілебудівний Завод –єдине підприємство в Україні з повним циклом виробництва машин.</p>
            <br>
            <br>
            <h2 class = "h-txt-horeca"><b>ЗАПОРІЗЬКИЙ АВТОМОБІЛЕБУДІВНИЙ ЗАВОД – ЦЕ:</b></h2>
            <br>
            <table border = "1" class = "table-color">
                <tr>
                <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/do-auto-img/im-do-auto-1.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Повний цикл виробництва авто</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/do-auto-img/im-do-auto-2.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Виробничі потужності, що дозволяють випускати 150 000 авто на рік</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/do-auto-img/im-do-auto-3.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Сучасні роботизовані лінії з мінімальним втручанням людини в процес виробництва</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
                <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3">
                    <img src="{{ url_for('static', filename= 'images/do-auto-img/im-do-auto-4.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Налагоджене виробництво легкового пасажирського і комерційного автотранспорту, а також автобусів</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3">
                    <img src="{{ url_for('static', filename= 'images/do-auto-img/im-do-auto-5.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Лінії з виробництва двигунів, запасних частин і інших комплектуючих</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3">
                    <img src="{{ url_for('static', filename= 'images/do-auto-img/im-do-auto-6.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Контроль якості на всіх етапах виробництва</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
            </table>
            <br>
            <br>
            <p class = "txt-horeca">Серед наших партнерів – лідери світового автопрому, чий досвід дозволяє створювати якісні авто для вашого комфорту і безпеки.</p>
            <br>
            <br>
        </div>
        <div class = "col-md-1 section-back-color"></div>
    </div>
</section>
{%endblock main%}