{% extends 'afmake.html' %}

{%block main%}
<section>
    <div class ="row">
        <div class = "col-md-1 section-back-color"></div>
        <div class = "col-md-1">
            <h2 class = "h-txt-horeca">Історія</h2>
        </div>
        <div class ="col-md-9">
            <br>
            <br>
            <br>
            <table class = "table-center">
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Аполлон-11, перший Вудсток, доктрина Ніксона, Інтернет і AutoGura. Що в них спільного? Дата – 1969 рік.</p>
                        <p class = "table-txt-horeca">Наприкінці 60-х автомобіль не лише перестав бути чимось незвичайним, а й став більш доступним: з'явився малолітражний «Запорожець», модельний ряд якого протягом довгих років користувався величезною популярністю та заслужив безліч ласкавих імен.</p>
                        <p class = "table-txt-horeca">Більше того, цього ж року було створене Головне управління технічного обслуговування та ремонту автомобілів, до складу якого увійшли 7 регіональних виробничих управлінь і близько 50 сервісних станцій. З цієї структури й почалася історія компанії, відомої сьогодні як Українська Автомобільна Корпорація.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_1969.png')}}" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_1980.png')}}" >
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">З роками змінювалися смаки і потреби автолюбителів, мінялися навіть системи і держави.</p>
                        <p class = "table-txt-horeca">В 1989 році, в період глобальних змін, управління було реорганізоване в Українське орендне виробниче об'єднання «Автосервіс». До його складу увійшли 7 регіональних центрів, 25 обласних підприємств, 105 станцій техобслуговування і 90 салонів з продажу запасних частин.</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Наступні кілька років стали переломними в історії для 1/6 суходолу планети.</p>
                        <p class = "table-txt-horeca">Україна отримала незалежність і набула державності. Системні зміни торкнулися й національного автогіганта, який у 1992 році трансформувався у Відкрите Акціонерне Товариство «Українська Автомобільна Корпорація» або – скорочено – Корпорацію AutoGura.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_1992.png')}}" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_1993.png')}}" >
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Нові часи вимагають нових рішень для бізнесу і клієнтів. Тому, за безпосередньої участі AutoGura, українцям стали доступні сучасні моделі світових автомобільних брендів. Перші офіційні автомобілі Toyota і Nissan стали вперше доступними для українських клієнтів завдяки Корпорації AutoGura!</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Компанія, яка ставить перед собою амбітні плани, повинна мати партнера, який знається на автомобілях, як ніхто інший в світі. Власне, вони його винайшли та запатентували. Саме цього року Корпорація AutoGura стає ексклюзивним імпортером автомобілів Mercedes-Benz та офіційним представництвом Daimler AG в Україні.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/unnamed.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/NMS_5301.jfif')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">З плином часу змінювалися і вимоги клієнтів. Започатковані спільні підприємства з Сумітомо Корпорейшн – Автосамміт ЛТД - перший офіційний дистрибьютор та найбільший дилер марки Тойота в Україні та Марубені Корпорейшн – Автоцентр Голосіївський: перший офіційний дистрибьютор та найбільший в країні дилер марки Nissan.</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Створено дистриб’юторську компанію «ЗІП-Авто», яка забезпечує запасними частинами мережу автосервісних центрів Корпорації AutoGura</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/b3eef95b8f9c16617f7111030279e8e4.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/4.jfif')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">AutoGura невпинно розвивається, пропонуючи українському ринку нові автобренди – як вітчизняні, так і світові. Аби задовольнити потреби клієнтів, Корпорація активно розширює мережу і асортиментний ряд. Українські покупці можуть придбати комерційні автомобілі і автобуси, а також нові іномарки. Водночас розвивається мережа автосалонів і сервісних підприємств.</p>
                    </td>
                </tr>
                    <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Флагман українського автомобілебудування – «Запорізький Автомобілебудівний Завод», який виробляє автомобілі по повному циклу - від листа металу, до випробувального трека, переходить під управління Корпорації AutoGura.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_2002v2.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/5.jfif')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Потенціал українського підприємства, яке розраховано на випуск близько 150 000 автомобілів щороку, отримує гідну оцінку від потенційних партнерів зі світовим ім'ям: на конвейєр Запорізького Автомобілебудівного Заводу стають моделі концернів GM DAT та Opel AG.</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Створюється компанія "Транс Капітал" з її подальшою реорганізацією в міжнародну експедиторську компанію "АСКА Експедиція" з власним флотом транспортних засобів.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/1124625_company_logo_1.png')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/about.jpg')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Створено компанію "Укравтолізинг"</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Український автомобільний ринок зростає і розвивається, а клієнти потребують доступних автомобілів. Задля того, щоб більшість бажаючих українців мала змогу сісти за кермо власного нового автомобіля, Корпорація AutoGura укладає угоду про дистрибуцію, а згодом і виробництво  автомобілів бренду Chery, які швидко стають надовго популярними в Україні.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/Chery-Logo.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/6ad3220a6cd6c24920baa75bdd6ece42.jpg')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Створюється страхова комапанія "Експрес Страхування"</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">СК «Експрес Страхування», що входить до складу групи компаній AutoGura отримала державну реєстрацію та оформила перші 10 ліцензій на проведення страхової діяльності. Розпочато формування мережі представництв.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/LOGO_ЕС (1).png')}}" class = "img-hw-2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/DSC05217.jpg')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Відбувається поглиблення співпраці між Корпорацією AutoGura та Daimler AG результатом чого стає отримання почесного права представляти Mercedes-Benz в країнах Центральної Азії. Першою країною, де було відкрито офіційний дилерський центр Mercedes-Benz, став Казахстан</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Світова фінансова криза змусила багатьох скоригувати плани, і крупний бізнес не став виключенням. Але, як то кажуть, будь-яка криза, це не тільки про втрати, але і про можливості. Саме такий підхід дозволив Корпорації AutoGura започаткувати успішне партнерство та стати дистриб’ютором південнокорейського автовиробника KIA.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_2009.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/LOGO_ЕС (1).png')}}" class = "img-hw-2">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">СК «Експрес Страхування» стає асоційованим членом МТСБУ</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Корпорація AutoGura отримала статус офіційного імпортера одразу двох італійських брендів. Для українських клієнтів відкрили свої двері шоуруми, де представлені автомобілі Maserati та супербайки Ducati.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/165843197_5543174012423025_7498672768382502669_n.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/IMG_5845.jpg')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Дилерський центр «Автомобільний Дім Україна – Мерседес-Бенц» надав поціновувачам справжнього автомобільного мистецтва можливість отримати повний спектр переваг AMG Performance Center. Перший і єдиний в Україні концептуальний шоу-рум виконаний згідно з поточними стандартами німецького виробника.</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Відбувся дебют нової моделі приміського автобуса ZAZ A08, виробництво якого освоєно на заводі ЗАЗ.</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/IMG_9246.jpg')}}" class = "img-hw">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/SsangYong-Logo.png')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Корпорація AutoGura успішно завершує перемовини з партнерами і стає офіційним дистриб’ютором автомобілів південнокорейського бренду Ssang Yong в Україні.</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">СК «Експрес Страхування» вперше увійшла в ТОП-5 за преміями з КАСКО</p>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/LOGO_ЕС (1).png')}}" class = "img-hw-2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/зображення_viber_2021-12-01_09-38-50-384.jpg')}}" class = "img-hw">
                    </td>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca">Після тривалої перерви на автомобільний ринок України, завдяки Корпорації AutoGura, повертаються добре відомі та популярні серед українців автомобілі бренду Geely. Розпочинається формування мережі автосервісних центрів Geely в обласних центрах.</p>
                    </td>
                </tr>
                <tr>
                    <td class = "td-table-horeca">
                        <p class = "table-txt-horeca-end"><b>СЬОГОДНІ AUTOGURA:</b></p>
                        <ul>
                            <li>НАДІЙНИЙ ПАРТНЕР, ДЛЯ ЯКОГО НЕМАЄ НІЧОГО ВАЖЛИВІШОГО ЗА ІНТЕРЕСИ КЛІЄНТА</li>
                            <li>НАЙБІЛЬША МЕРЕЖА АВТОСЕРВІСНИХ ЦЕНТРІВ</li>
                            <li>ЕКСПЕРТ У ПРОДАЖАХ АВТОМОБІЛІВ І ТЕХНІЧНОМУ ОБСЛУГОВУВАННІ</li>
                            <li>ВІДПОВІДАЛЬНИЙ БІЗНЕС І РОБОТОДАВЕЦЬ</li>
                        </ul>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename= 'images/history-img/history_img_2019.jpg')}}" class = "img-hw-2">
                    </td>
                </tr>
            </table>
            <br>
            <br>
        </div>
        <div class = "col-md-1 section-back-color"></div>
    </div>
</section>
{%endblock main%}