{% extends 'afmake.html' %}

{%block main%}

<section>
  <div class = "row">
    <div class = "col-md-1 section-back-color"></div>
    <div class = "col-md-10">
      <br>
      <br>
      <h1 class = "h-txt-horeca"><b>Страхування</b></h1>
      <br>
      <br>
      <p class = "txt-horeca">Зараз ми, як ніхто, знаємо цінність майна, яке може бути пошкодженим або втраченим. Так само як і знаємо, що довіряючи нам, Ви обираєте щось більше, ніж просто страхову компанію. В умовах, в яких ми всі живемо, так важливо знати, що «у разі чого», партнер виконає взяті на себе зобов’язання. І це не просто про фіксацію настання страхового випадку. Це про те, що ми зробимо все можливе, а інколи і неможливе, лишень Ви жодного разу не засумнівались, що обрали надійну страхову компанію.</p>
      <br>
      <br>
      <h2 class = "h-txt-horeca"><b>ЧОМУ «ЕКСПРЕС-СТРАХУВАННЯ»?</b></h2>
      <br>
      <table border = "1" class = "table-color">
        <tr>
          <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-1.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">15 років забезпечуємо своїх клієнтів якісним страховим захистом</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-2.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Унікальний страховий сервіс: врегулювання страхового випадку без відвідувань офісу СК з подальшим якісним ремонтом на офіційних СТО!</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-3.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Довіра майже 50 000 клієнтів  - найцінніше!</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
          <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-4.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Страхування там, де зручно саме Вам: мережа представництв з 50 відділень</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-5.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Ми знаємось на КАСКО і входимо в ТОП-10 за страховими преміями</p>
                  </div>
                </div>
              </div>
            </td>
            <td class = "td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3 ">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-6.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Фінансова стабільність та надійність за будь-яких обставин</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td-table-horeca">
              <div class = "container ">
                <div class = "row">
                  <div class = "col-md-3">
                    <img src="{{ url_for('static', filename= 'images/ins-img/im-ins-7.svg')}}" class = "table-img">
                  </div>
                  <div class = "col-md-9">
                    <p class = "table-txt-horeca-ok">Дбаємо про репутацію та дисципліну: більше 3 років поспіль здобуваємо найвищі оцінки від МТСБУ!</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
      </table>
      <br>
      <br>
      <div class = "container back-color-blue">
        <div class = "row">
          <div class="col-md-6">
            <p class="txt-cmc-cont">ЕКСПРЕС-СТРАХУВАННЯ</p>
            <a href = "tel: +380930260509" class="a-txt-cmc-azs a-cmc"> +38 (093) 026-05-09</a>
          </div>
          <div class="col-md-6">
            <p class="txt-cmc-cont">Подробиці на сайті:</p>
            <a href = "https://www.express-insurance.com.ua/" class="a-txt-cmc-azs a-cmc" >express-insurance.com.uaa</a>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-1"></div>
  </div>

</section>

{%endblock main%}