{% extends 'afmake.html' %}

{%block main%}

<section>
    <div class = "row">
        <div class = "col-md-1 section-back-color"></div>
        <div class = "col-md-10">
            <div class = "row">
                <div class = "col-md-1"></div>
                <div class = "col-md-10">
                    <br>
                    <br>
                    <h1 class = "h-txt-horeca">Автомобіль  <b>COOLRAY</b></h1>
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename= 'images/car-img/geely_coolray_up.jpg')}}" class = "img-car-up">
                    <p class = "right_car_price"><b> 10000000</b><span class = "dol-col ">₴</span></p>
                    <br>
                    <br>
                    <p class = "main_dec_txt_cac">Geely COOLRAY – довгоочікувана новинка для широкого кола споживачів в Україні: як для поціновувачів вдалого поєднання автомобільної естетики і виняткового комфорту в автомобілі, так і для тих, хто перш за все цінує нові технології безпеки або потребує відмінних динамічних характеристик свого нового авто. У перекладі з англійської Cool - крутий, кльовий, а Ray - промінь. І ці слова повністю відповідають сутності нового COOLRAY — яскравий, крутий, динамічний кросовер, який вирізняється не лише своєю зовнішністю, а й преміальними технологіями, що дозволяють водієві насолоджуватися керуванням автомобіля так само вільно, як промінь світла переміщається у просторі. Geely COOLRAY - НЕСКІНЧЕННІСТЬ ЕМОЦІЙ!</p>
                    <br>
                    <br>
                    <h2 class="h-txt-horeca" style="text-align: center"><b>ПРО АВТОМОБІЛЬ</b></h2>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class = " card dwdwo">
                                    <h3 class ="table_car_h_txt">Технічні характеристики:</h3>
                                    <div class="container">
                                        <div class ="row">
                                            <table class="center_table_">
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Потужність двигуна, к.с</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">174</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Крутний момент, Нм/об.хв</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer" >270</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Об'єм паливного бака, л</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer" >45</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Максимальна швидкість км/г</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer" >45</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b> Oб'єм двигуна, см3</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer" >1499</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Витрата пального, л/100км</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">6.4</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Прискорення до 100 км/г, с</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">7,6</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Максимальна швидкість км/г</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">195</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Трансмісія</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">Автоматична</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Система приводу</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">Передній</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="txt_table_car_option"><b>Тип</b></p>
                                                    </td>
                                                    <td>
                                                        <p class ="txt_table_car_option_answer">Xетчбек</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class = " dwdwo">
                                    <p>ddwdwdw</p>
                                    <p>dwdwdw</p>
                                    <p>wddwdwdwd</p>
                                </div>
                            </div>


                        </div>
                    </div>

                    <br>
                    <br>
                </div>
                <div class = "col-md-1"></div>
            </div>
        </div>
        <div class = "col-md-1 section-back-color"></div>
    </div>
</section>

{%endblock main%}