{% extends 'afmake.html' %}

{%block main%}

<section>
    <div class = "row">
        <div class = "col-md-1 section-back-color"></div>
        <div class = "col-md-10">
            <br>
            <h1 class = "h-txt-horeca"><b>Академія AutoGura</b></h1>
            <br>
            <img src="{{ url_for('static', filename= 'images/we-can-img/img-up-we-can.jfif')}}" class ="img-up-ab">
            <br>
            <br>


                <!--<div class="row">
                    <div class="col-md-3">
                        <div class = "hover-we-can-icons">
                            <a href = "/sln-cars-main" class="a-we-can-icons">
                                <div class="back-icon-we-can">
                                    <div class="txt-we-can-icons">
                                        <img src="{{ url_for('static', filename= 'images/we-can-img/we-can_icons-im-1.svg')}}" class ="img_we_can_icons">
                                        <p>Продаж нових
                                        <br>
                                        автомобілів</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>-->
            </div>

        <div class = "col-md-1 section-back-color"></div>
        </div>
</section>

{%endblock main%}